@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --main-violet :     #5D11BD;
    --bold-gray:        #373B5C;
    --regular-gray:     #5B5E6F;
    --light-gray:       #A6AABF;
    --background-gray:  #F2F2F2;
    --color-white:      #F9F9F9;
    --color-black:      #373B5C;
}

#root{
    font-family: 'Poppins', sans-serif;
}

.container-all{
    background-color: var(--background-gray);
}

.container-menu{
    background-color: var(--color-white);
    font-size: 17px;
}

.option-item-selected, .content-title{
    color: var(--color-black);
}

.option-item, .options-logout{
    color: var(--light-gray);
}

.content-action-filter > button, .content-item {
    background-color: var(--color-white);
}

.content-action-add > button{
    background-color: var(--main-violet);
    border-radius: 30px;
}

.new-adventure{
    color: var(--color-white);
}

.adventure-name{
    color: var(--main-violet);
}

.info-item-gray{
    color: var(--regular-gray);
}

.info-item-dark{
    color: var(--bold-gray);
}